{% extends 'base.html' %}
{% load static %}


{% block content %}



<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">View your Cart...</p>
        </div>
    </div>
</header>
<!-- Section-->
<div class="container my-5 ">
    <div class="row justify-content-md-center">

        {% if cart_products %}


        {% for product in cart_products %}



        <div class="col-8 shadow p-4">

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>





                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text mb-4">{{ product.description }}</p>

                            {% if product.is_sale %}
                            <strike>
                                {{product.price}}
                            </strike>
                            {{product.sale_price}} &#x20B9;

                            {% else %}
                            {{product.price}} &#x20B9;
                            {% endif %}

                            <div class="row ">
                                <div class="col-md-3 my-3">
                                    Quantity :
                                </div>

                                <div class="col-md-3 my-3">
                                    
                                    <select class="form-select" id="select{{product.id}}">

                                        {% for key,val in prod_quantities.items %}
                                            {% if key == product.id|slugify %}
                                            <option selected> {{ val }} </option>  
                                            {% endif %}
                                        {% endfor %}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>


                                    </select>
                                </div>
                            </div>

                            <a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-success update-cart">
                                Update </button>
                                <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-item">
                                Delete </button>
                            <!-- <button class="btn btn-primary" value="{{ product.id }}" id="add-cart">Add to Cart</button> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

            <center>

                <h3 class="mt-5">Total: {{ totals }} &#x20B9;</h3>
            </center>

        {% else %}

        <h1>Your Cart is Empty!.....</h1>
        {% endif %}
    </div>

</div>


<script>
    $(document).on('click', '.update-cart', function(e){

        e.preventDefault();
        var productid = $(this).data('index');
        
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_update' %}",
            data: {
                product_id: $(this).data('index'),
                product_qunt: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },

            success: function (json) {
                // console.log(json)
                // document.getElementById('card_quantity').textContent = json.qunt
                location.reload()

            },

            error: function (xhr, errmsg, err) {

            }

        })


    })


     $(document).on('click', '.delete-item', function (e) {

            e.preventDefault();
            // var productid = $(this).data('index');

            $.ajax({
                type: 'POST',
                url: "{% url 'cart_delete' %}",
                data: {
                    product_id: $(this).data('index'),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },

                success: function (json) {
                    // console.log(json)
                    // document.getElementById('card_quantity').textContent = json.qunt
                    location.reload()

                },

                error: function (xhr, errmsg, err) {

                }

            })


        })
</script>
{% endblock content %}