{% extends 'base.html' %}

{% block content %}



<div class="container my-5 ">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 class="my-3">Shipped Items</h1>
           
                
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Orderd date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in shipped_orders%}
                    <tr>
                        <th scope="row">
                        <!-- <a href="{% url 'orders' item.id %}"> -->
                            {{ item.id }}
                        <!-- </a> -->
                        </th>
                        <td>{{ item.full_name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.date_shipped }}</td>
                        <td>{{ item.paid_amount }}</td>
                        <td>
                            <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="false">
                            <input type="hidden" name="num" value="{{ item.id }}">
                            <button class="btn btn-sm btn-danger " type="submit">Mark as UnShipped</button>
                        </form>
                    </td>
                        <td>
                        <a class="btn btn-sm btn-outline-primary" href="{% url 'orders' item.id %}">
                           Order - {{ item.id }}
                        </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    

    
</div>


{% endblock content %}