{% extends 'base.html' %}

{% block content %}



<div class="container my-5 ">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="my-3">UnShipped Items</h1>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Orderd date</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in unshipped_orders%}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
            
                        <td>{{ item.full_name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.order_date }}</td>
                        <td>{{ item.paid_amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




</div>


{% endblock content %}