{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5 ">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to MyShop....</p>
        </div>
    </div>
</header>


<div class="container my-5">
    <div class="row">
        <center>


            <div class="col-8">


                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis maiores sit nulla accusantium
                    qui, autem ipsum
                    provident nisi itaque aspernatur saepe, quae perspiciatis a asperiores libero? Nesciunt eligendi
                    adipisci similique,
                    eius itaque odit fugiat sunt voluptatum est beatae dolorem repellat! Voluptates deleniti eius
                    maiores amet velit,
                    debitis ducimus voluptatibus tenetur.
                    <br> <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corrupti, officia quo rem, sint
                    temporibus totam veritatis deserunt aliquid incidunt odio eius. Ullam illo id hic nemo error
                    delectus earum dignissimos asperiores eligendi. Provident impedit natus nostrum dolor cum et neque.
                    Voluptas dolor placeat voluptate rerum sapiente ex harum officia.
                    <br><br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat sit amet eveniet, voluptatem optio
                    ipsam beatae facere soluta? Neque esse nostrum minus modi, fuga nobis laudantium? Modi magni maiores
                    odit.
                </p>
            </div>
        </center>
    </div>

</div>





{% endblock content %}