{% extends 'base.html' %}

{% block content %}
    
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Login</h1>
                <p class="lead fw-normal text-white-50 mb-0">Please Login to your account</p>
            </div>
        </div>
    </header>

    <div class="container my-5 ">
        <div class="row justify-content-md-center">
            
    
    
                <div class="col-6 shadow p-4">
    
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                                <label for="floatingPassword">Password</label>
                            </div>

                            <!-- <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                            </div> -->
                           
                            <center>
                                <button type="submit" class="btn btn-primary mt-3">Submit</button>

                            </center>
                        </form>
                </div>
            
        </div>
    
    </div>


{% endblock content %}
    