{% extends 'base.html' %}

{% block content %}


<div class="container my-5 ">
    <div class="row justify-content-md-center">



        <div class="col-8 shadow p-4">

        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text mb-4">{{ product.description }}</p>
                        
                        {% if product.is_sale %}
                        <strike>
                            {{product.price}}
                        </strike>
                        {{product.sale_price}} &#x20B9;
                            
                        {% else %}
                            {{product.price}} &#x20B9; 
                        {% endif %}
                        <br>
                        <br>
                        <div class="row ">
                            <div class="col-md-3">
                                Quantity :
                            </div>
                            <div class="col-md-3">
                                <select class="form-select" id="qunt-prod" >
                                
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>

                                    
                                </select>
                            </div>
                        </div>
                       
                        <br>
                        <br>

                      
                        <a class="btn btn-secondary" href="{% url 'home' %}" >Back</a>
                        
                        <button class="btn btn-primary" value="{{ product.id }}" id="add-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </div>

</div>

<script>

    // $(document).ready(function () {
    //         $('#add-cart').on('click', function () {
    //             var value = $(this).val();
    //             console.log(value); // You can replace this with your desired action
    //         });
    //     });

    $(document).on('click','#add-cart',function(e){

        e.preventDefault();

        $.ajax({
            type:'POST',
            url:"{% url 'cart_add' %}",
            data:{
                 product_id : $('#add-cart').val(),
                 product_qunt: $('#qunt-prod option:selected').text() ,
                 csrfmiddlewaretoken : "{{ csrf_token }}",
                 action : 'post'
            },
            
            success: function(json){
                // console.log(json)
                // document.getElementById('card_quantity').textContent = json.qunt
                location.reload()
                
            },

            error: function(xhr,errmsg,err) {
                
            }

        })
       
        
    })


</script>


{% endblock content %}