{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Profie</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update User info</p>
        </div>
    </div>
</header>

<div class="container my-5 ">
    <div class="row justify-content-md-center">
        <div class="col-6 shadow p-4">

            <form method="POST" action="{% url 'update_info' %}">
                {% csrf_token %}
                    <h3 class="my-3">Billing Information</h3>
                {{ user_form.as_p }}

                    <h3 class="mt-5 mb-3">Shipping Information</h3>

                {{ shipping_form.as_p }}

                <button type="submit" class="btn btn-primary mt-3">
                    Update Info
                </button>
               
            </form>

        </div>
      



    </div>

</div>


{% endblock content %}